################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Abc.ProductsStore/v16/Server/sqlite3
